
.container {
  padding: 33px 30px 14px 20px;
  box-sizing: border-box;
  position: relative;

  @media (max-width: 1700px) {
    padding: 33px 20px 14px 20px;
  }

  @media (max-width: 550px) {
    padding: 30px 15px;
  }

  & .wrapBlock {
    display: flex;
    justify-content: space-between;

    @media (max-width: 700px) {
      flex-direction: column;
    }

    & > .infoBlock {
      padding: 0 20px;
      box-sizing: border-box;
      width: 33%;

      @media (max-width: 1700px) {
        padding: 0 5px;

        > div {
          flex-direction: column;

          > div {
            width: 100%;
            text-align: center;

            > div {
              width: 100%;

              > div:first-child {
                width: 100%;
                margin-right: 10px;
              }
            }

            > p {
              margin-bottom: 10px;
            }
          }
        }
      }

      @media (max-width: 700px) {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    & .franchiseesBlock > div:nth-child(1) div p {
      background: linear-gradient(90deg, #7F28D9 0%, #7427CC 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & .legalAddress > div {
      justify-content: space-between;
    }

    & .legalAddress > div:nth-child(1) div p {
      background: linear-gradient(90deg, #7F28D9 0%, #7427CC 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & .paginationBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
  }

  & .btnBlock {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1700px) {
      button + button {
        margin-top: 15px;
      }
    }
  }

  & .innerContent {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1300px) {
      flex-direction: column;
    }

    & .leftBlock {
      width: 81%;

      @media (max-width: 1300px) {
        width: 100%;
      }

      & .tableContent {
        border-top: 20px;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #babec6;

        @media (max-width: 1200px) {
          max-width: 100vw;
        }
      }
    }

    & .rightBlock {
      width: 18%;

      @media (max-width: 1300px) {

        width: 100%;

        > div {
          width: 100%;
          display: flex;
          margin-top: 30px;
          justify-content: center;
          flex-wrap: wrap;

          > div + div {
            margin-top: 0;
          }

          > div {
            width: 46%;
            margin-bottom: 15px;
            margin-right: 15px;

            @media(max-width: 374px) {
              width: 100%;
              margin-right: 0;
            }
          }
        }
      }

      @media (max-width: 700px) {
        p {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

  }
}
