@import "../../styles/variables";

.wrapperModal {
  width: 1135px;
  padding: 40px 50px 50px;

  @media (max-width: 800px) {
    width: 600px !important;
    padding: 40px 20px !important;
  }

  @media (max-width: 600px) {
    width: 100% !important;
  }

  h4 {
    //font-family: $font-aqum;
    //background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    //text-align: center;
    //margin-bottom: 30px;
    font-family: $font-aqum;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    padding-bottom: 40px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .lesson {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .dateLesson {
      display: flex;
      align-items: center;

      @media (max-width: 800px) {
        flex-direction: column;
        margin-bottom: 20px;
        .calendarLesson {
          > div {
            width: 100%;
          }
        }
      }

      p {
        flex: 0 0 40%;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        @media (max-width: 800px) {
          margin-bottom: 10px;

        }

      }
    }

    .choiceTime {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 500px) {
        flex-direction: column;
      }
    }

    .startLesson {
      display: flex;
      align-items: center;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      @media (max-width: 500px) {
        width: 100%;
        margin-bottom: 20px;
      }

      p {
        flex: 0 0 40%;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        @media (max-width: 800px) {
          margin-bottom: 10px;
        }
      }
    }

    .endLesson {
      display: flex;
      align-items: center;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      @media (max-width: 500px) {
        flex-direction: column;
        width: 100%;
      }

      p {
        flex: 0 0 40%;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        @media (max-width: 800px) {
          margin-bottom: 10px;
        }
      }
    }


  }

  .save {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      align-items: flex-end;

    }

    @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }

    .saveSelect {
      display: flex;
      align-items: center;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      p {
        flex: 0 0 40%;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        @media (max-width: 600px) {
          margin-bottom: 10px;
        }
      }

      .activeSelect {
        width: 170px;

        @media (max-width: 500px) {
          width: 300px;
          margin-bottom: 20px;
        }

        @media (max-width: 374px) {
          width: 280px;
        }

        > div {
          width: 100%;
        }
      }
    }
  }

  button {
    display: inline-block;
    //margin-top: 30px;
  }

  @media(max-width: 1280px) {
    padding: 25px 30px 30px;
    width: 1000px;
  }
  @media(max-width: 1000px) {
    padding: 25px 30px 30px;
    width: 800px;
  }
  @media(max-width: 550px) {
    padding: 20px;
    width: 94vw;
  }
}
