.blockGames {
  box-sizing: border-box;
  width: 563px;
  max-width: 563px;
  min-height: 1038px;
  max-height: 1038px;
  padding: 0 20px 20px 20px;
  background: #FFFFFF;
  box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;

  @media (max-width: 1800px) {
    width: auto;
  }

  @media (max-width: 900px) {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: 550px) {
    border-radius: 30px;
  }

  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    background: #EAEEFD;

    @media (max-width: 900px) {
      width: 0;
    }
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background: #BABEC6;
    border-radius: 10px;
  }

  .componentPanelWrapper {
    margin-bottom: 35px;

    @media (max-width: 1600px) {
      & > div {
        min-width: auto;
        width: auto;
        padding: 5px 10px;

        @media (max-width: 1500px) {
            border-radius: 0 0 25px 25px;
          }

        @media (max-width: 1500px) {
          &::before {
            display: none;
          }

          &::after {
            display: none;
          }
        }

        @media (max-width: 550px) {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  .games {
    margin-bottom: 30px;

    ul {
      margin-bottom: 20px;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin-right: 14px;
      }

      li:last-child {
        margin-right: 0;
        font-family: 'Aqum', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #2E8DFD;
        text-transform: uppercase;

        @media (max-width: 550px) {
          font-size: 13px;
        }
      }
    }
  }

  .content {
    max-width: 590px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0F123F;

    @media (max-width: 900px) {
      max-width: 100%;
    }

    @media (max-width: 550px) {
      font-size: 13px;
      line-height: 20px;
      text-align: center;
    }
  }
}
