.wrapper {
  position: relative;
  max-width: 768px;
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-image: url('../../../../public/img/bg-program.jpg');
  background-size: cover;
  background-position: bottom center;

  @media (max-width: 550px) {
    img {
      width: 70px;
      height: 70px;
    }
  }

  .row {
    display: flex;
    padding: 24px 0 0 0;

    @media (max-width: 1300px) {
      flex-direction: column;
      padding: 30px 10px;
    }

    @media (max-width: 550px) {
      flex-direction: row;
    }
  }

  .image {
    width: 216px;
    margin-right: 40px;
    display: flex;
    align-items: start;
    justify-content: flex-end;

    @media (max-width: 1300px) {
      margin: 0 auto 20px;
      width: auto;
    }

    @media (max-width: 550px) {
      width: 70px;
      height: 70px;
      margin-right: 26px;
    }
  }

  .infoWrapper {
    width: 60%;

    @media (max-width: 1300px) {
      width: 100%;
    }
  }

  .list {
    margin-top: 20px;
    margin-bottom: 18px;
    padding: 0;
    display: flex;
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;

    @media (max-width: 550px) {
      margin-bottom: 13px;
      font-size: 12px;
      margin-top: 9px;
    }

    li {
      margin-right: 14px;

      @media (max-width: 550px) {
        margin-right: 5px;
      }
    }

    li:last-child {
      margin-right: 0;
      color: #000000;
    }
  }

  .flag {
    position: absolute;
    top: 18px;
    right: 21px;

    /* Mobile XS */
    @media (max-width: 550px) {
      width: 23px;
      height: 23px;
      top: 10px;
      right: 15px;
    }
  }

  .settings {
    position: absolute;
    top: 21px;
    right: 70px;

    /* Mobile XS */
    @media (max-width: 550px) {
      width: 23px;
      height: 23px;
      top: 10px;
      right: 15px;
    }
  }
}







