.wrapper {
  position: relative;
  max-width: 768px;
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-image: url('../../../public/img/bg-program.jpg');
  background-size: cover;
  background-position: bottom center;

  @media (max-width: 550px) {
    img {
      width: 70px;
      height: 70px;
    }
  }

  .row {
    display: flex;
    padding: 24px 0 0 0;
    position: relative;

    @media (max-width: 1300px) {
      flex-direction: column;
      padding: 30px 10px;
    }

    @media (max-width: 550px) {
      flex-direction: row;
    }

    .btnBlock {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 11px;

      @media (max-width: 1600px) {
        position: static;
        transform: translateY(0);
        width: 90%;
        margin-bottom: 20px;
      }

      @media (max-width: 1300px) {
        width: 100%;
      }
      @media (max-width: 550px) {
        button {
          font-size: 13px;
        }
      }

      button + button {
        margin-top: 15px;
      }

      button:last-child {
        background: linear-gradient(90deg, #7F28D9 0%, #7427CC 100%);

        &:hover {
          background: linear-gradient(90deg, #2E8EFE 0%, #2675F6 100%);
        }
      }
    }
  }

  .image {
    width: 216px;
    margin-right: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    @media (max-width: 1300px) {
      margin: 0 auto 20px;
      width: auto;
    }

    @media (max-width: 550px) {
      width: 70px;
      height: 70px;
      margin: 0 26px 0 0;
    }
  }

  .infoWrapper {
    width: 60%;

    @media (max-width: 1300px) {
      width: 100%;
    }
  }

  .list {
    margin-top: 20px;
    margin-bottom: 18px;
    padding: 0;
    display: flex;
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;

    @media (max-width: 550px) {
      margin-bottom: 20px;
      font-size: 12px;
      margin-top: 9px;
    }

    span {
      margin-right: 14px;

      @media (max-width: 550px) {
        margin-right: 5px;
      }
    }

    span:last-child {
      margin-right: 0;
      color: #000000;
    }
  }

  .flag {
    position: absolute;
    top: 18px;
    right: 21px;

    /* Mobile XS */
    @media (max-width: 550px) {
      width: 23px;
      height: 23px;
      top: 10px;
      right: 15px;
    }
  }

  .settings {
    position: absolute;
    top: 21px;
    right: 70px;

    /* Mobile XS */
    @media (max-width: 550px) {
      width: 23px;
      height: 23px;
      top: 10px;
      right: 15px;
    }
  }
}







