.container {
  max-width: 510px;
}

.title {
  background: linear-gradient(90deg, #7F28D9 0%, #7427CC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;
}
