@import "src/styles/variables";

.arrowBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: $color-white;
  border-radius: 50%;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
}

.arrowBtnL {
  width: 62px;
  height: 62px;
}

.arrowBtnS {
  width: 35px;
  height: 35px;
}

.arrowBtnT {
  width: 25px;
  height: 25px;
}
