@import "src/styles/mixins";
.container {
  padding: 32px;
}
.menu {
  margin-bottom: 24px;
}
.course {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  h3 {
    @include font-gradient;
    margin-bottom: 8px;
  }
  h4 {
    margin-bottom: 8px;
  }
}