.container {
  max-width: 965px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
  border-radius: 30px;
  padding-bottom: 30px;

  @media (max-width: 1100px) {
    max-width: 100%
  }

  @media (max-width: 600px) {
    order: 4;
  }
}

.homework {
  align-self: stretch;
}

.panel {
  margin-bottom: 15px;

  @media (max-width: 1200px) {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }

    border-radius: 0 0 25px 25px;
  }

  @media (max-width: 1100px) {
    font-size: 14px;
  }
}
