.content {
  padding: 33px 100px 20px 20px;
  box-sizing: border-box;

  @media (max-width: 1600px) {
    padding-right: 50px;
  }

  @media (max-width: 1000px) {
    padding-right: 20px;
  }

  @media (max-width: 550px) {
    padding: 30px 10px;
  }

  h1 {
    font-family: 'Aqum';
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 28px;

    @media (max-width: 550px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .inputWrap {
    & > div {
      justify-content: space-between;
    }

    & > div > div > div {
      width: 100%;
    }
  }

  .inputWrap + .inputWrap {
    margin-top: 20px;
  }

  .wrapContent {
    width: 640px;

    @media (max-width: 1000px) {
      width: 100%;
    }

    .btnBlock {
      margin-top: 40px;
    }

    .wrapBtn {
      margin: 20px 0;
    }
  }

  .innerContent {
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 62px 43px 42px;
    box-sizing: border-box;

    @media (max-width: 550px) {
      padding: 35px 10px;
    }


  }

  .editorBlock {
    margin-top: 30px;

    .editorWrapper {
      width: 640px;

      @media (max-width: 1000px) {
        width: 540px;
      }

      @media (max-width: 700px) {
        width: 420px;
      }

      @media (max-width: 550px) {
        width: 390px;
      }

      @media (max-width: 550px) {
        width: 270px;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      margin-bottom: 15px;
    }
  }

  .modalWrap {
    .modalInner {
      width: 1210px;
      padding: 45px 120px 50px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 700px;
      justify-content: space-between;

      @media (max-width: 1300px) {
        width: 950px;
        padding: 30px 20px;
      }

      @media (max-width: 1000px) {
        width: 750px;
      }

      @media (max-width: 800px) {
        width: 550px;
      }

      @media (max-width: 600px) {
        width: 100%;
      }

      h2 {
        margin-bottom: 22px;
        font-family: 'Aqum';
        font-weight: 700;
        font-size: 24px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 600px) {
          font-size: 16px;
          line-height: 18px;
        }
      }

      .choiceBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;


        @media (max-width: 800px) {
          flex-direction: column-reverse;

          .inputBlock {
            > div {
              flex-direction: column;
            }
          }
        }

        > div:first-child {
          width: 75%;

          @media (max-width: 1000px) {
            width: 65%
          }

          @media (max-width: 800px) {
            width: 100%;
            margin-top: 20px;
          }

          > div:first-child {
            width: 30%;
          }

          > div:last-child {
            width: 80%;

            @media (max-width: 800px) {
              width: 100%;
            }

            > div {
              width: 100%;
              @media (max-width: 800px) {
                > div {
                  width: 100%;
                  margin-top: 10px;
                }
              }

            }
          }
        }

        > div:last-child {
          width: 20%;
          margin-top: 0;
          justify-content: flex-end;

          @media (max-width: 1000px) {
            width: 30%
          }

          @media (max-width: 800px) {
            width: 100%;
          }
        }

        .modalSelect {

          @media (max-width: 800px) {
            > div {
              flex-direction: column;
              align-items: flex-start;

              > div {
                margin-bottom: 10px;
              }
            }
          }


          > div > div:first-child {
            width: auto;
            margin-right: 10px;
          }

          > div > div:last-child {
            width: 140px;

            @media (max-width: 800px) {
              width: 100%;
            }
          }
        }
      }

      .description {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;

        @media (max-width: 600px) {
          flex-direction: column;
        }

        p {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #000000;

          @media (max-width: 600px) {
            margin-bottom: 10px;
          }
        }

        .textBlock {
          width: 730px;

          @media (max-width: 1000px) {
            width: 500px;
          }

          @media (max-width: 600px) {
            width: 400px;
          }

          @media (max-width: 4400px) {
            width: 280px;
          }

          @media (max-width: 4400px) {
            width: 240px;
          }

        }
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
