.wrapper {
  padding: 30px 20px 20px 16px;

  .searchBar {
    margin-bottom: 60px;

    @media (max-width: 550px) {
      margin-bottom: 20px;
    }
  }

  .row {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    .tabs {
      margin-top: 55px;

      @media (max-width: 900px) {
        margin-top: 0;
      }
    }

    .blockGames {
      margin-right: 20px;

      @media (max-width: 900px) {
        margin-right: 0;
      }
    }

    .blockCardStudents {
      min-height: 1038px;
      max-height: 1038px;
      padding: 20px;
      background: #FFFFFF;
      box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
      overflow-y: scroll;
      overflow-x: hidden;

      /* полоса прокрутки (скроллбар) */
      &::-webkit-scrollbar {
        width: 8px; /* ширина для вертикального скролла */
        background: #EAEEFD;

        @media (max-width: 900px) {
          width: 0;
        }
      }

      /* ползунок скроллбара */
      &::-webkit-scrollbar-thumb {
        background: #babec6;
        border-radius: 10px;
      }

      @media (max-width: 900px) {
        min-height: 100%;
        max-height: 100%;
      }

      @media (max-width: 550px) {
        background: transparent;
        padding: 0;
        box-shadow: none;
        border-radius: 30px;
      }

    }
  }
}




