@import "src/styles/mixins";

.wrapper {
  position: relative;
  padding: 35px 56px;
  width: 1053px;
  background: #fff;
  border-radius: 30px;

  @media (max-width: 1200px) {
    width: 950px;
  }

  @media (max-width: 1000px) {
    width: 750px;
  }

  @media (max-width: 800px) {
    width: 650px;
  }

  @media (max-width: 700px) {
    width: 500px;
  }

  @media (max-width: 550px) {
    padding: 100px 10px 50px;
    width: 100%;
  }
}

.button {
  margin: 30px 75px 0 0;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  @include wrapperMixin();
  width: 1053px;
  padding: 37px 56px 27px 57px;

  @media (max-width: 550px) {
    padding: 40px 15px;
  }

  h2 {
    margin-bottom: 30px;
    font-family: 'Aqum', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: #0439AD;
  }
}

.row {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    padding-left: 0;
  }

  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.imageWrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @include imageWrapperMixin();
  @media(max-width: 700px) {
    width: 130px;
    height: 130px;
  }

  @media (max-width: 550px) {
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
  }
}

.roleSex {
  display: flex;
  justify-content: space-between;

  > div {
    width: 48% !important;
    justify-content: space-between;

    @media (max-width: 1000px) {
      width: 100% !important;
      flex-direction: column;
      margin-bottom: 40px;
    }

    > div {
      width: 140px;
      @media (max-width: 1000px) {
        width: 100% !important;
      }

    }
  }
}

.emailChoice {
  @media (max-width: 1000px) {
    margin-top: 40px;

    @media (max-width: 700px) {
      margin-top: 0;
    }
    > div {
      flex-direction: column;
    }
  }
}

.table {
  width: 550px;

  & > form > div {
    margin-bottom: 24px;
    justify-content: space-between;

    @media (max-width: 1000px) {
      flex-direction: column;
      margin-bottom: 0;

      p {
        margin: 0 0 10px;

        @media (max-width: 1000px) {
          margin-top: 20px;
        }
      }
    }

    > div {
      width: 78%;

      @media (max-width: 1000px) {
        width: 100%;
      }
    }

    > input {
      width: 78% !important;
      @media (max-width: 1000px) {
        width: 100% !important;
      }
    }
  }

  @media(max-width: 1000px) {
    width: 380px;
  }

  @media(max-width: 800px) {
    width: 340px;
  }

  @media(max-width: 700px) {
    width: 250px;
  }

  @media(max-width: 550px) {
    width: 100%;
  }

  & > * {
    margin-bottom: -3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.infoItem {
  @include infoItemMixin();
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px !important;
  color: #000000;

  > div {
    width: 100%;

    > div {
      //display: none;

      + div {
        width: 100%;
      }

      > div {
        width: 100%;
      }
    }
  }

  @media (max-width: 700px) {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  span {
    display: inline-block;
    width: 235px;
    @media (max-width: 1000px) {
      margin: 20px 0 10px;
    }

    @media (max-width: 700px) {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
    border-radius: 10px;
  }
}

.choiceGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1000px) {
    width: 100% !important;
    flex-direction: column;
  }

  > div {
    width: 48% !important;
    justify-content: space-between;

    @media (max-width: 1000px) {
      width: 100% !important;
      flex-direction: column;
      margin-bottom: 40px;
    }

    > div {
      width: 140px;

      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}

.selectWrapper {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.selectWidth {
  @include selectWidthMixin();
}

