.wrapper {
  padding: 30px 20px 20px 16px;
  height: calc(100vh - 100px);
  overflow-y: auto;

  .searchBar {
    margin-bottom: 24px;

    @media (max-width: 550px) {
      margin-bottom: 20px;
    }
  }

  .tabsWrapper {

    @media (max-width: 900px) {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .button {
      width: 130px;
      height: 40px;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      margin-bottom: 5px;
      background: #DEEBFF;
      border: 1px solid #2E8DFD;
      border-right: none;
      border-radius: 25px 0 0 25px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #000000;
      cursor: pointer;

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: calc(100% - 16px);
        line-height: 40px;
        display: inline-block;
        position: relative;
        left: 16px;
      }
      &_active {
      background: #2E8DFD;
      color: #FFFFFF;
    }
      &:hover {
        background: #2E8DFD;
        color: #FFFFFF;
      }

      @media (max-width: 900px) {
        width: 33%;
        margin-bottom: 10px;
        border-radius: 25px;
        border-right: 1px solid #2E8DFD;
      }

      @media (max-width: 550px) {
        width: 30%;
        height: 40px;
        font-size: 14px;
        line-height: 18px;
      }

      @media (max-width: 374px) {
        width: 1000%;
      }
    }
  }

  .row {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    .tabs {
      margin-top: 8px;

      @media (max-width: 900px) {
        margin-top: 0;
      }
    }

    .blockGames {
      margin-right: 20px;

      @media (max-width: 900px) {
        margin-right: 0;
      }
    }

    .blockCardStudents {
      min-height: 1038px;
      max-height: 1038px;
      padding: 20px;
      background: #FFFFFF;
      box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
      overflow-y: scroll;
      overflow-x: hidden;

      /* полоса прокрутки (скроллбар) */
      &::-webkit-scrollbar {
        width: 8px; /* ширина для вертикального скролла */
        background: #EAEEFD;

        @media (max-width: 900px) {
          width: 0;
        }
      }

      /* ползунок скроллбара */
      //&::-webkit-scrollbar-thumb {
      //  background: #babec6;
      //  border-radius: 10px;
      //}

      @media (max-width: 900px) {
        min-height: 100%;
        max-height: 100%;
      }

      @media (max-width: 550px) {
        background: transparent;
        padding: 0;
        box-shadow: none;
        border-radius: 30px;
      }

    }
  }
}




