.content {
  padding: 33px 100px 20px 20px;
  box-sizing: border-box;

  @media (max-width: 1600px) {
    padding-right: 20px;
  }

  @media (max-width: 440px) {
    padding: 30px 10px;
  }

  .innerContent {
    display: flex;
    justify-content: space-between;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  .editorWrapper {
    width: 640px;

    @media (max-width: 1900px) {
      width: 500px;
    }

    @media (max-width: 1500px) {
      width: 400px;
    }

    @media (max-width: 1300px) {
      width: 300px;
    }

    @media (max-width: 1100px) {
      width: 270px;
    }

    @media (max-width: 1000px) {
      width: 350px;
    }

    @media (max-width: 900px) {
      width: 540px;
    }

    @media (max-width: 700px) {
      width: 440px;
    }

    @media (max-width: 550px) {
      width: 330px;
    }

    @media (max-width: 440px) {
      width: 260px;
    }
  }

  .homeWork {
    width: 48%;
    background: #ffffff;
    box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
    border-radius: 30px;
    padding: 29px 65px 35px 45px;
    box-sizing: border-box;

    @media (max-width: 1600px) {
      padding-right: 30px;
      padding-left: 30px;
    }

    @media (max-width: 900px) {
      width: 100%;
      margin-bottom: 20px;
    }

    @media (max-width: 440px) {
      padding: 30px 10px;
    }

    .level > div {
      > div:first-child {
        width: auto;
      }

      > div:last-child {
        width: 140px;
        margin-left: 25px;
      }
    }

    h1 {
      font-family: 'Aqum';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 25px;
      text-transform: uppercase;

      @media (max-width: 550px) {
        text-align: center;
        font-size: 16px;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      margin-bottom: 15px;
      margin-top: 13px;
    }
  }

  .sample {
    width: 48%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1400px) {
      flex-direction: column;
    }

    @media (max-width: 900px) {
      width: 100%;
    }

    .sampleChoice {
      width: 48%;

      @media (max-width: 1400px) {
        width: 100%;
        margin-bottom: 10px;
      }

      .sampleBlock {
        background: #ffffff;
        box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
        border-radius: 30px;
        padding: 22px 45px;
        box-sizing: border-box;
        min-height: 135px;

        > div {
          justify-content: space-between;

          > div:first-child {
            width: auto;
          }

          > div:last-child {
            width: 186px;

            @media (max-width: 1800px) {
              width: 160px;
            }

            @media (max-width: 1700px) {
              width: 140px;
            }

            @media (max-width: 1500px) {
              width: 110px;
            }

            @media (max-width: 1500px) {
              width: 70%;
            }
          }
        }
      }

      .sampleBlock + .sampleBlock {
        margin-top: 10px;
      }

      .sampleAdd {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;

        & > div {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-sizing: border-box;
          border: 3px solid #4778ec;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;


          button {
            font-size: 35px;
            line-height: 35px;
            color: #4778ec;
            font-weight: 600;
          }
        }

        &:hover {
          background-color: #B3D4FF;
        }

        &:hover > div {
          background: linear-gradient(90deg, #2E8EFE 0%, #2675F6 100%);
          border: none;
        }

        &:hover button {
          color: #ffffff;
        }
      }
    }
  }

  .homeBtn {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;

    @media (max-width: 900px) {
      width: 100%;
      margin: 30px auto 0;
      justify-content: center;
    }
  }
}
