.container {
  max-width: 660px;
  padding: 20px 45px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
  border-radius: 30px;

  @media (max-width: 1100px) {
    max-width: 100%
  }

  @media (max-width: 600px) {
    order: 2;
    padding: 20px;
  }

  &:after {
    content: '';
    width: 85%;
    height: 1px;
    background-color: #babec6;
    position: absolute;
    bottom: 50px;
  }
}

.itemsContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;

  @media (max-width: 600px) {
    font-size: 11px;
  }
}
