@import "variables";

.rbc-calendar {
  font-family: $font-face-base !important;
}

/*common*/

.rbc-time-content {
  border: none;
}
/*common*/

/*header*/
.rbc-time-header-content {
  background: #e8eff6;
  border: none;
  border-radius: 10px 10px 0 0;
}

.rbc-header {
  border: none;
  & + .rbc-header{
    border: none;
    border-left: 1px solid #E0DFDD;
  }
  font-size: 14px;
  padding: 12px 0;
  @media (max-width: 850px) {
    font-size: 12px;
    }
}
.rbc-time-header-gutter {
  width: 63.18px!important;
  min-width: 63.18px!important;
  max-width: 63.18px!important;
  @media(max-width: 1280px){
    width: 48.18px!important;
    min-width: 48.18px!important;
    max-width: 48.18px!important;
  }
}
.rbc-time-view {
  border: none;
  position: relative;
  z-index: 1;
  &:before {
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 64px);
    height: 100%;
    @media(max-width: 1280px){
      width: calc(100% - 49px);
    }
    @media(max-width: 600px){
      width: calc(100% - 42px);
    }
  }
  .rbc-row {

    box-sizing: border-box;
    min-height: 20px;
  }
}

.rbc-allday-cell {
  display: none;
}
.rbc-label {
  padding:0 30px 0 0;

  @media(max-width: 1280px){
    padding:0 15px 0 0;
  }
  @media(max-width: 600px){
    padding:0 8px 0 0;
  }
}

/*header*/

/*content*/
.rbc-today {
  background: transparent;
}

.rbc-timeslot-group {
  border: none;
  min-height: 45px;

  &:nth-child(odd) {
    background: #F8F8FF;
  }

  &:nth-child(even) {
    background: #fff;
  }
  @media(max-width: 700px) {
    min-height: 30px;
  }
}

.rbc-time-content > * + * > * {
  border: none;
}

.rbc-day-slot .rbc-time-slot {
  border: none;
}

/*content*/

/*time*/
.rbc-time-content > .rbc-time-gutter {
  border: none;
  background: none;
  font-size: 12px;
  .rbc-timeslot-group {
    background: none;
    display: flex;
    flex-direction: column-reverse;
    .rbc-time-slot{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    @media(max-width: 700px) {
      min-width: 30px;
    }
  }
}

/*time*/
//rbc-day-slot .rbc-event-content
.rbc-day-slot .rbc-events-container {
  border-left: 1px solid #E0DFDD;
}

/* event */
$event-bg: $gradient-blue-darker;


.rbc-day-slot {
  //.rbc-time-column {
  //  //border-left: 3px solid #00b8d9;
  //  //&:first-child {
  //  //  border: none;
  //  //}
  //}

  .rbc-event {
    border: none;
    border-radius: 0;
    background: $event-bg;
    padding: 0;
  }

  .rbc-events-container {


    margin-right: 0;

  }

  .rbc-event-content {
    //padding: 10px 15px 10px 30px;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    //@media(max-width: 1700px){
    //  padding: 8px 10px 8px 20px;
    //}
    //@media(max-width: 1400px){
    //  padding: 8px 10px 8px 10px;
    //  line-height: 16px;
    //}
    //@media(max-width: 991px){
    //  padding: 5px 8px 5px 8px;
    //}
    @media(max-width: 700px) {
      padding: 0;
    }
  }
}
.rbc-event{
  width: 100% !important;
  left: 0!important;
}
/* event */
