@import "variables";
@mixin gradient-text($gradient) {
  color: transparent;
  //background-clip: text;
  background-image: $gradient;
}

@mixin link-font(
  $color: $color-white,
  $is-gradient: false,
  $linear-gradient: none,
  $line-height: normal,
  $text-decoration: none
) {
  @if $is-gradient == true {
    @include gradient-text($linear-gradient);
  } @else {
    color: $color;
  }

  font-size: $link-font-size;
  line-height: $line-height;
  font-weight: 600;
  text-decoration: $text-decoration;
}

@mixin gradient-statistics-title($gradient) {
  font-family: $font-aqum;
  font-size: 14px;
  text-transform: uppercase;
  @include gradient-text($gradient);
}


@mixin disable-default-button-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@mixin font-gradient {
  font-family: $font-aqum;
  background: linear-gradient(90deg, #7F28D9 0%, #7427CC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}