.wrapper {
  position: relative;
  width: 100%;
  min-width: 800px;
  min-height: 244px;
  padding: 24px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  background-image: url('../../../public/img/bg-program.jpg');
  background-position: bottom center;
  background-size: cover;

  @media (max-width: 1700px) {
    min-width: 600px;
    width: 100%;
    padding: 24px 10px 10px;
    grid-column: span 1;
  }

  @media (max-width: 1500px) {
    grid-column: span 2;
  }

  @media (max-width: 1100px) {
    max-width: 100%
  }


  @media (max-width: 600px) {
    margin-top: 30px;
    order: 1;
  }

  .title {
    margin: 0;
    font-family: 'Aqum', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 600px) {
      font-size: 11px;
      padding-right: 40px;
    }
  }

  .row {
    display: flex;

    @media (max-width: 600px) {
      display: block
    }
  }

  .image {
    width: 216px;
    margin-right: 22px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 600px) {
      position: absolute;
      width: 60px;
      height: 60px;
      left: 50%;
      top: -45px;
      margin-left: -30px;
    }

    .userSetting {
      position: absolute;
      margin: 10px 0 0 140px
    }
  }

  .mt15 {
    margin-top: 15px;
  }

  .buttonGroup {
    margin: 15px 0 0 15px;
    padding-bottom: 20px;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      margin-left: 0;
    }
  }

  h2 {
    display: contents;
  }
}

.list {
  margin: 0 0 4px 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;

  @media (max-width: 600px) {
    font-size: 12px;
    justify-content: space-between;
  }

  &:last-child {
    margin: 0;
  }

  &:nth-child(2) {
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #BABEC6;
  }

  li {
    margin-right: 14px;
  }

  li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      justify-content: space-between;
    }

    span {
      margin-right: 8px;

      img {
        border-radius: 50%;
      }
    }
  }

  li:last-child {
    margin-right: 0;
    color: #000000;

    @media (max-width: 600px) {
      text-align: right;
    }
  }
}

.social {
  width: 200px;
  height: 40px;
  padding: 5px 10px;
  margin-right: 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;

  & img {
    cursor: pointer;
  }

  @media (max-width: 600px) {
    width: 100%;
    margin-bottom: 10px;
  }
}


.modalContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 58px 20px;
  box-sizing: border-box;

  @media (max-width: 1000px) {
    width: 770px;
  }

  @media (max-width: 800px) {
    width: 580px;
    padding: 0 35px 30px 20px;
  }
  @media (max-width: 600px) {
    width: 100%;

    .btn button {
      padding: 16px 50px 17px 10px;
    }
  }


  p {
    margin: 48px 0 46px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 13px;
      line-height: 23px;
    }
  }

  .panel {
    text-transform: uppercase;
    background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
    margin: 0 auto;

    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 14px;
      border-radius: 0 0 25px 25px;
      padding: 10px 5px;
      box-sizing: border-box;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }
}
