@import "../../styles/variables";
@import "../../styles/mixins";

.abs {
  position: absolute;
  top: -10px;
  left: 70px;
  color: #fff;
  opacity: 0.5;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    width: 48%;
  }

  @media (max-width: 440px) {
    flex-direction: column;
    align-items: center;
  }
}

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 55px;
  height: 55px;
  background-color: $color-button;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: 600px) {
    width: 50px;
    height: 50px;
    margin-right: 0;
  }

  &.activeNotification {
    .notification {
      display: initial;
    }
  }
}
.span{
  position: absolute;
  top: 0;
  left: 70px;
  color: #d7c4e8;
  opacity: 0.5;
}
.notification {
  display: none;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 3px;
  top: -2px;
  background: #ff4e4a;
  border-radius: 50%;
}

$logout-font-map: (text-decoration: underline);

.logout {

  @include disable-default-button-style();

  @include link-font($logout-font-map...);

  @media (max-width: 600px) {
    > a {
      font-size: 13px;
      line-height: 18px;
    }
  }
}
