.calendar {
  position: relative;

  & > .calendarImage {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;

    & > .blockCalendar {
      position: absolute;
      top: 35px;
      right: 0;
      z-index: 600;

      @media (max-width: 550px) {
        top: 40px;
      }
    }
  }
}


.titleCalendar {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.myCalendar {
  width: 380px !important;
  background: #ffffff;
  border: none !important;
  box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
  border-radius: 10px;

  @media (max-width: 550px) {
    width: 330px !important;
  }

  @media (max-width: 440px) {
    width: 300px !important;
  }

  @media (max-width: 374px) {
    width: 280px !important;
  }

  > div {
    height: auto !important;
    padding: 5px;
    margin-bottom: 5px;
  }


  button > span {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #000000;
    text-transform: capitalize;
  }

  button:first-child {
    display: none !important;
  }

  button:last-child {
    display: none !important;
  }

}



