@import "../../styles/variables";
.wrapBlockItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $color-black;
    flex: 0 0 20%;
    margin-right: 8px;
    @media(max-width: 1050px) {
      flex: 0 0 30%;
    }
  }

  .content {
    width: 80%;
    max-width: 100%;
    //box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
    box-shadow: none;
    @media(max-width: 1050px) {
      width: 70%;
    }
    @media(max-width: 650px) {
      width: 100%;
      margin: 0;
    }
  }

  & .large {
    width: 140px;
  }

  @media(max-width: 650px) {
    flex-direction: column;
  }
}

.wrapBlockItem + .wrapBlockItem {
  margin-top: 15px;
}

.numberFormat {
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 12px 13px 13px;
}
