@import "../../styles/variables";

.dropDownMenu {
  position: absolute;
  // height: calc(100vh - 100px);
  top: 100px;
  left: 0;
  z-index: 400;
  transition: all 0.5s ease;
  background-color: #e5d8fa;
  transform: translateX(-100%);


  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    align-items: center;

    > div {
      border-bottom: 1px solid #deebff;
      width: 100%;
      box-sizing: border-box;

      > a {
        padding: 10px 5px 10px 10px;
        display: flex;
        align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        color: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
        &:hover {
          background-color: $color-purple;
        }
      }
      
    }
  }
}

.showDropDown {
  transform: translateX(0);
}
