.content {
  padding: 33px 100px 20px 20px;
  box-sizing: border-box;

  @media (max-width: 1600px) {
    padding-right: 50px;
  }

  @media (max-width: 1000px) {
    padding-right: 20px;
  }

  @media (max-width: 550px) {
    padding: 30px 10px;
  }

  h1 {
    font-family: 'Aqum';
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 28px;

    @media (max-width: 550px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .innerContent {
    max-width: 960px;

    h1 {
      margin-bottom: 50px;
      font-family: 'Aqum';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      text-align: center;
      background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }

    .wrapContent {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding-bottom: 33px;
      margin-bottom: 20px;

      @media (max-width: 550px) {
        flex-direction: column;
      }


      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #BABEC6;
        left: 0;
        bottom: 0;
      }

      .nameInput {
        width: 100%;

        > div {
          margin-left: 0;
          width: 94%;
          margin-right: 10px;

          @media (max-width: 550px) {
            width: 100%;
            margin: 0 0 20px;
          }
        }
      }

      .nameSelect {
        display: flex;
        align-items: center;
      }

      .selectRoles {
        width: 140px;
        margin-left: 10px;

        @media (max-width: 550px) {
          width: 100%;
        }

        > div {
          width: 100%;
        }
      }
    }

    .testEditor {
      width: 960px;
      margin: 10px auto 0;

      @media (max-width: 1100px) {
        width: 850px;
      }

      @media (max-width: 900px) {
        width: 700px;
      }

      @media (max-width: 750px) {
        width: 550px;
      }

      @media (max-width: 600px) {
        width: 450px;
      }

      @media (max-width: 500px) {
        width: 350px;
      }

      @media (max-width: 374px) {
        width: 290px;
      }

    }

    .choice {
      margin-top: 20px;

      .addBtn button {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #2E8DFE;
        background: none;
        padding: 0;
        margin-right: 30px;

        @media (max-width: 550px) {
          margin: 0 0 20px;
        }

        > span {
          display: none;
        }
      }

      .choiceToggle {
        display: flex;
        align-items: center;
      }

      .addInput {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 550px) {
          flex-direction: column;
        }
      }

      .testStep {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        width: 50%;
        margin-left: auto;

        @media (max-width: 1100px) {
          width: 100%;
        }

        @media (max-width: 550px) {
          flex-direction: column;

          > button {
            margin-top: 20px;
          }
        }
      }

    }
  }


  .modalContainer {
    width: 1210px;
    padding: 45px 120px 64px;
    box-sizing: border-box;

    @media (max-width: 1300px) {
      width: 1000px;
    }

    @media (max-width: 1100px) {
      width: 850px;
      padding: 40px 20px;
    }

    @media (max-width: 900px) {
      width: 600px;
    }

    @media (max-width: 700px) {
      width: 100%;
      padding: 40px 10px;
    }

    h2 {
      font-family: 'Aqum';
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: 700px) {
        font-size: 20px;
        line-height: 20px;
      }
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }

    .titleInput {
      display: flex;
      align-items: center;

      @media (max-width: 650px) {
        flex-direction: column;
      }

      .testInput > div {
        width: 100%;
      }

      p {
        flex: 0 0 20%;

        @media (max-width: 650px) {
          flex: 0 0 100%;
          margin-bottom: 10px;
        }
      }
    }

    .textQuestion {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 25px;

      @media (max-width: 650px) {
        flex-direction: column;
      }

      .textEditorModal {
        width: 760px;

        @media (max-width: 900px) {
          width: 400px;
        }

        @media (max-width: 500px) {
          width: 345px;
        }

        @media (max-width: 440px) {
          width: 290px;
        }

        @media (max-width: 374px) {
          width: 250px;
        }
      }

      p {
        flex: 0 0 20%;

        @media (max-width: 650px) {
          flex: 0 0 100%;
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }

    .variantBtn {
      display: flex;

      @media (max-width: 650px) {
        justify-content: center;
      }

      p {
        flex: 0 0 21%;

        @media (max-width: 650px) {
          display: none;
        }
      }

      button {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #2E8DFE;
        background: none;
        padding: 0;

        > span {
          display: none;
        }
      }
    }

    .btnSave {
      display: flex;
      margin-top: 100px;
      justify-content: center;
    }

  }
}


