.container {
  //position: fixed;
  //top: 150px;
  //right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100000;
}

.button {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  display: block;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  &_active {
    background: #e3c5ff;
  }
}
