.container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  border-radius: 30px;
  width: 940px;
  box-sizing: border-box;
  padding: 33px 40px 33px 33px;
  margin-top: 33px;
  margin-left: 20px;

  @media(max-width: 1280px) {
    width: 80%;
    margin: 30px auto;
  }

  @media(max-width: 1100px) {
    width: 95%;
    padding: 33px 40px 33px 33px;
  }

  @media(max-width: 700px) {
    padding: 30px 15px;
  }

  @media(max-width: 600px) {
    flex-direction: column;
  }
}

.wrapperUser {
  position: relative;

  @media(max-width: 600px) {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
  }

  @media (max-width: 550px) {
    width: 120px;
    height: 120px;
  }
}

.wrapperUser .userSetting {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 1;

  @media(max-width: 700px) {
    width: 18px;
    height: 18px;
    top: 20px;
    right: 35px;
  }

  @media (max-width: 550px) {
    right: 20px;
  }
}

.wrapperUser .userPic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;
  background: linear-gradient(90deg, #2E8EFE 0%, #2675F6 100%);
  border-radius: 50%;

  @media (max-width: 900px) {
    width: 250px;
    height: 250px;
    margin-right: 10px;
  }

  @media (max-width: 700px) {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }

  @media (max-width: 600px) {
    margin: 0 auto 20px;
  }

  @media (max-width: 550px) {
    width: 120px;
    height: 120px;
  }

  > span {
    width: auto !important;
    height: 105px !important;

    @media (max-width: 700px) {
      height: 75px !important;
    }

    @media (max-width: 550px) {
      height: 55px !important;
    }

  }
}

.userData {
  width: 490px;

  @media (max-width: 550px) {
    width: auto;
  }

  .labelBlock div > div {

    @media (max-width: 800px) {
      margin-left: auto;
    }

    @media (max-width: 440px) {
    }

    p {
      display: none;
    }
  }
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end !important;
}

.userData > div {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 440px) {
    flex-direction: column;
    text-align: center;
  }

  > div {
    display: block;
    width: 75%;

    @media (max-width: 440px) {
      width: 100%;
    }
  }
}

.userData > div + div {
  margin-top: 25px;
}

.userData h2 {
  font-family: 'Aqum';
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 52px;

  @media (max-width: 700px) {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 18px;
  }
}

.userData label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;

  @media (max-width: 440px) {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

.userData input {
  @media (max-width: 550px) {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(86, 89, 146, 0.15);
    border-radius: 10px;
    border: none;
    padding: 11px 16px;
    outline: none;
  }
}

.avatarImage {
  border-radius: 50%;
  border: 2px solid #38028F;

  @media (max-width: 900px) {
    width: 250px;
    height: 250px;
  }

  @media (max-width: 700px) {
    width: 150px;
    height: 150px;
  }


  @media (max-width: 550px) {
    width: 120px;
    height: 120px;
  }
}

.wrapContent {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  @media (max-width: 550px) {
    padding: 30px 15px;
  }

  & p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #BABEC6;

    @media (max-width: 550px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  & span {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #2E8DFD;

    @media (max-width: 550px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  & input {
    width: 266px;
    padding: 9px 30px 10px;
    border: 1px solid #BABEC6;
    border-radius: 26px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;

    @media (max-width: 550px) {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

.modalTitle {
  font-weight: 700 !important;
  color: #2E8DFD !important;
  text-transform: uppercase !important;
  margin-bottom: 30px;
}

.modalSubtitle {
  margin-bottom: 10px;
}

.modalButton {
  position: relative;
  background: linear-gradient(90deg, #2E8EFE 0%, #2675F6 100%);
  box-sizing: border-box;
  padding: 16.5px 106px 16.5px 110px;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 20px;

  &:hover {
    background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
  }
}

.phoneContainer {
  margin-top: 5px;
  margin-bottom: 32px;
}

.inputContainer {
  margin-top: 10px;
  // margin-bottom: 50px;
}

.underlined {
  margin-top: 19px;
  text-decoration: underline;
  cursor: pointer;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 900;
  padding: 0 5px;
  box-sizing: border-box;
  align-items: center;
  overflow-y: scroll;
}

.content {
  max-height: 900px;
  position: relative;
  min-width: 450px;
  border-radius: 30px;
  background-color: #fff;
  overflow-x: scroll;

  @media (max-width: 1800px) {
    max-height: 750px;
  }

  @media (max-width: 700px) {
    max-height: 600px;
    overflow-x: scroll;
  }

  @media (max-width: 550px) {
    min-width: 90%;
    border-radius: 15px;
  }

  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    width: 0;
    /* ширина для вертикального скролла */
  }
}

.textErorr {
  width: 339px;
  font-family: Montserrat !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
  margin-bottom: 15px;
  margin-top: 20px;
}

.textErorrRed {
  width: 339px;
  font-family: Montserrat !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
  margin-bottom: 15px;
  margin-top: 20px;
  color: #FF4E4A !important;
}

.blockError {
  margin-top: 40px;
}

.anotherNumber {
  font-family: Montserrat !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 30px !important;
  letter-spacing: 0em !important;
  text-align: center !important;
  color: #2E8DFD !important;
  margin-top: 17px !important;
  cursor: pointer !important;
}

.btnClose {
  position: absolute;
  right: 20px;
  top: 21px;
  cursor: pointer;
  z-index: 2;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}