.container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  border-radius: 30px;
  width: 940px;
  box-sizing: border-box;
  padding: 33px 40px 33px 33px;
  margin-top: 33px;
  margin-left: 20px;

  @media(max-width: 1280px) {
    width: 80%;
    margin: 30px auto;
  }

  @media(max-width: 1100px) {
    width: 95%;
  }

  @media(max-width: 700px) {
    padding: 30px 15px;
  }

  @media(max-width: 600px) {
    flex-direction: column;
  }
}

.wrapperUser {
  position: relative;

  @media(max-width: 600px) {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
  }

  @media (max-width: 550px) {
    width: 120px;
    height: 120px;
  }
}

.wrapperUser .userSetting {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 1;

  @media(max-width: 700px) {
    width: 18px;
    height: 18px;
    top: 20px;
    right: 35px;
  }

  @media (max-width: 550px) {
    right: 20px;
  }
}

.wrapperUser .userPic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;
  background: linear-gradient(90deg, #2E8EFE 0%, #2675F6 100%);
  border-radius: 50%;

  @media (max-width: 900px) {
    width: 250px;
    height: 250px;
    margin-right: 10px;
  }

  @media (max-width: 700px) {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }

  @media (max-width: 600px) {
    margin: 0 auto 20px;
  }

  @media (max-width: 550px) {
    width: 120px;
    height: 120px;
  }

  > span {
    width: auto !important;
    height: 105px !important;

    @media (max-width: 700px) {
      height: 75px !important;
    }

    @media (max-width: 550px) {
      height: 55px !important;
    }

  }
}

.userData {
  max-width: 490px;

  .labelBlock div > div {
    width: 100%;

    @media (max-width: 800px) {
      width: 90%;
      margin-left: auto;
    }

    @media (max-width: 440px) {
      width: 100%;
    }

    p {
      display: none;
    }
  }
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end !important;
}

.userData > div {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 440px) {
    flex-direction: column;
    text-align: center;
  }

  > div {
    display: block;
    width: 75%;

    @media (max-width: 440px) {
      width: 100%;
    }
  }
}

.userData > div + div {
  margin-top: 25px;
}

.userData h2 {
  font-family: 'Aqum';
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 52px;

  @media (max-width: 700px) {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 18px;
  }
}

.userData label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;

  @media (max-width: 440px) {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

.userData input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(86, 89, 146, 0.15);
  border-radius: 10px;
  border: none;
  padding: 11px 16px;
  outline: none;
}

.wrapContent {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  @media (max-width: 550px) {
    padding: 30px 15px;
  }

  & p {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #BABEC6;

    @media (max-width: 550px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  & a {
    display: block;
    margin-top: 19px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #BABEC6;
    text-decoration: underline;

    @media (max-width: 550px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  & span {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #2E8DFD;

    @media (max-width: 550px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  & input {
    width: 266px;
    margin-top: 12px;
    padding: 9px 30px 10px;
    border: 1px solid #BABEC6;
    border-radius: 26px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;

    @media (max-width: 550px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .modalInput div > div {
    width: 100%;
  }
}

.wrapContent > div + div {
  margin-top: 40px;
}
.underlined {
  text-decoration: underline;
}

.avatarImage {
  border-radius: 50%;
  border:2px solid #38028F ;
  
  @media (max-width: 900px) {
    width: 250px;
    height: 250px;
  }

  @media (max-width: 700px) {
    width: 150px;
    height: 150px;
  }


  @media (max-width: 550px) {
    width: 120px;
    height: 120px;
  }
}