.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 800px;
  height: 500px;
  margin: 20px;

  form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;

    .body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;

      .questions {

        h2 {
          margin-top: 20px;
          margin-bottom: 10px;
        }

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        column-gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;

      }

    }

  }

}