.layout {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  height: 100vh;
  &_unauth {
    grid-template-columns: 0 100%;
  }
  &_teacherEducation {
    grid-template-columns: auto;
  }
}

.header {
  grid-column: 1 / -1;
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  background-color: #e8eff6;
  background-image: url(../../../assets/images/background-layout.png);
  background-position: center right;
  background-repeat: no-repeat;
}
