.container {
  max-width: 100%;
  margin: 33px 50px 20px 15px;
  @media(max-width: 1280px) {
    margin-right: 20px;
  }
  @media(max-width: 1280px) {
    margin: 33px 20px 20px 15px;
  }
  @media(max-width: 700px) {
    margin: 33px 15px 10px 15px;
  }

  .buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

.schedule_wrapper {
  padding: 33px 20px 20px 20px;
  box-sizing: border-box;
}
.buttonsBox{
  margin-bottom: 25px;
  display: flex;
}
.buttonArticle{
  margin-right: 15px;
}
