.wrapper {
  position: relative;
  max-width: 1300px;
  min-height: 244px;
  padding: 24px 0 0 0;
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-image: url('../../../../public/img/bg-program-large.jpg');
  background-position: bottom center;
  background-size: cover;

  @media (max-width: 900px) {
    padding: 24px 10px 10px 10px;
  }

  @media (max-width: 440px) {
    padding: 13px 10px 10px 10px;
  }

  .rowWrapper {
    display: flex;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  .row {
    display: flex;

    @media (max-width: 1400px) {
      justify-content: space-between;
    }

    @media (max-width: 7000px) {
      justify-content: flex-start;
    }
  }

  .title {
    @media (max-width: 800px) {
      padding-right: 50px;
    }

    @media (max-width: 440px) {
      padding-right: 25px;
    }
  }


  .image {
    width: 216px;
    margin-right: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;


    @media (max-width: 900px) {
      margin-right: 10px;
      width: 200px;
    }

    @media (max-width: 600px) {
      width: 70px;
    }
  }

  .list {
    margin-bottom: 18px;
    padding: 0;
    display: flex;
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;

    @media (max-width: 700px) {
      font-size: 13px;
      line-height: 15px;
    }

    li {
      margin-right: 14px;

      @media (max-width: 550px) {
        margin-right: 5px;
      }
    }

    li:last-child {
      margin-right: 0;
      color: #000000;
    }
  }

  .flag {
    position: absolute;
    top: 18px;
    right: 21px;

  }

  .settings {
    position: absolute;
    top: 21px;
    right: 70px;

    @media (max-width: 1400px) {
      right: 21px;
    }

    @media (max-width: 800px) {
      width: 20px;
      height: 20px;
    }

    @media (max-width: 550px) {
      top: 15px;
      right: 15px;
    }
  }

  .mt20 {
    margin-top: 20px;
  }

}






