@import "../../styles/variables";

.sidebar {
  width: 210px;
  box-shadow: 4px 0 20px rgba(127, 40, 217, 0.15);
  background-color: $color-purple-lighter;

  @media (max-width: 1280px) {
    width: auto;

    > nav {
      display: none;
    }
  }

  &_hidden {
    width: 0;
  }
}

$navigation-link-font-map: (
        is-gradient: true,
        linear-gradient: linear-gradient(90deg, #0439ad 0%, #38028f 100%),
);

.link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  height: 52px;
  width: 100%;
  padding: 0 10px 0 15px;
  border-bottom: 1px solid #deebff;
  text-align: left;
}

.activeLink {
  background-color: $color-purple;
}

.linkWrapper {
  transition: all 0.5s ease;

  &:hover {
    background-color: $color-purple;
  }
}

.linkImage {
  margin-right: 7px;
  width: 40px;
  height: 40px;
}
