@mixin indicator-background($background) {
  background: url('../../../assets/svgs/skill-grow-triangle.svg') repeat-y center top / 10px 25px,
  $background;
}

.container {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 220px;

  @media (max-width: 1700px) {
    height: 240px;
  }

  @media (max-width: 1600px) {
    height: 200px;
  }

  @media (max-width: 1500px) {
    width: 100px;
  }

  @media (max-width: 1200px) {
    width: 90px;
  }

  @media (max-width: 600px) {
    height: auto;
    width: 50px;
  }
}

.indicator {
  width: 90px;
  opacity: 0.5;
  border-radius: 10px 10px 0px 0px;

  @media (max-width: 1500px) {
    width: 80px;
  }

  @media (max-width: 600px) {
    width: 46px;
  }
}

.percents {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #2e8dfd;

  @media (max-width: 1500px) {
    font-size: 16px;
  }
}

.skillTitle {
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 1500px) {
    font-size: 14px;
  }

  @media (max-width: 600px) {
    font-size: 10px;
  }

  @media (max-width: 374px) {
    font-size: 9px;
  }
}

.red {
  @include indicator-background(
                  linear-gradient(
                                  180deg,
                                  #fe6c6c 1.04%,
                                  #fe6c6c 28.13%,
                                  rgba(254, 70, 75, 0.74) 66.67%,
                                  rgba(254, 70, 75, 0) 98.44%
                  )
  );
}

.violet {
  @include indicator-background(
                  linear-gradient(
                                  180deg,
                                  #9181fa 1.04%,
                                  #9181fa 28.13%,
                                  rgba(145, 129, 250, 0.75) 66.67%,
                                  rgba(145, 129, 250, 0) 98.44%
                  )
  );
}

.yellow {
  @include indicator-background(
                  linear-gradient(
                                  180deg,
                                  #ffc400 1.04%,
                                  #ffc400 28.13%,
                                  rgba(255, 196, 0, 0.74) 66.67%,
                                  rgba(255, 196, 0, 0) 98.44%
                  )
  );
}

.aquamarine {
  @include indicator-background(
                  linear-gradient(
                                  180deg,
                                  #00c7e6 1.04%,
                                  #00c7e6 28.13%,
                                  rgba(0, 199, 230, 0.76) 66.67%,
                                  rgba(0, 199, 230, 0) 98.44%
                  )
  );
}
