@import "../../styles/variables";

.Button {
  position: relative;
  background: #59C252;
  box-sizing: border-box;
  padding: 16px 58px 17px 18px;
  color: $color-white;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background: #429A3C;
  }

  .icon {
    position: absolute;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border-radius: 50%;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
  }
}

.closed {
  background: #DB5552;

  &:hover {
    background: #BD4D4B;
  }
}

.disable {
  background: #8A8A8A;

  &:hover {
    background: #8A8A8A;
  }
}
