.innerContent {
  padding: 35px 20px 0 20px;
  box-sizing: border-box;

  @media(max-width: 550px) {
    padding: 35px 15px;
  }
}

.gameList {
  width: 100%;
  height: auto;
  position: relative;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media(max-width: 576px) {
    flex-direction: column;
    justify-content: center;
    & div {
      margin: 0 auto 10px auto;
    }
  }
}

.gameItem {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 270px;
  padding: 0 10px;
  background: #fff;
  justify-content: center;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  color: #333;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 10px 10px 10px;
    position: absolute;
    top: 15px;

    &_title {
      font-size: 14px;
      font-weight: 700;
      background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #0439AD;
      text-transform: uppercase;
    }
  }

  &_settings {
    cursor: pointer;
    position: absolute;
    right: 7%;
    top: 6%;

    &:hover {
      & path {
        fill: #0439AD;
      }
    }
  }

  &_play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -55px;
  }

  &_prevImg {
    height: 172px;
    margin: 40px 0 10px 0;
    border-radius: 30px;
  }

  @media(max-width: 1080px) {
    width: 220px;
    height: 200px;
    margin-right: 10px;
    &_header {
      &_title {
        font-size: 12px;
      }
    }
  }
}

.wrapGameBlock {
  margin: 20px 0 50px 0;

  &_header {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;

    &_select {
      width: 150px;
      margin-bottom: 5px;
    }

    & button {
      height: 60px;
      width: 250px;
    }

  }

  @media(max-width: 1400px) {
    &_header {
      margin: 10px 0;
    }
  }
  @media(max-width: 800px) {
    &_header {
      flex-wrap: wrap;
    }
  }


  &_game {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    @media (max-width: 1600px) {
      flex-direction: column;
    }
  }

  &_footer {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 100px;
    margin-left: 20px;

    &_title {
      font-size: 24px;
      font-weight: 700;
      color: #2E8DFD;
      margin-bottom: 15px;
    }

    &_desc {
      font-size: 18px;
      text-align: left;
      line-height: 30px;
    }
  }

}

.wrapGame {
  display: flex;
  position: relative;
  justify-content: center;
  height: 820px;
  border-radius: 70px;
  overflow: hidden;
  margin-bottom: 50px;
  //margin-right: 20px;
  background: #FCFBFE;


}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 32px 38px;
  width: 90%;
  height: 90%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F0F0F0;
  border-radius: 60px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: -109px;
  margin-top: -109px;
  width: 218px;
  height: 218px;
  font-size: 24px;
  font-weight: 700;
  background: #FFFFFF;
  border: 3px solid #F3EEFD;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 14px rgba(215, 215, 215, 0.8);

  &:hover {
    transition: 0.15s linear;
    box-shadow: 0 0 2px rgba(215, 215, 215, 0.8);
  }

  & svg {
    margin-bottom: 18px;
  }
}

.playButtonText {
  background: -webkit-linear-gradient(90deg, #7F28D9 0%, #7427CC 100%);
  background: linear-gradient(90deg, #7F28D9 0%, #7427CC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #333;
  font-size: 18px;
}

.playButtonBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}