.wrapper {
  width: auto;
  max-width: 100%;
  min-height: 70px;
  padding: 10px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  border-radius: 30px;

  input {
    box-shadow: 0 0 40px rgb(86 89 146 / 15%) !important;
  }

  @media (max-width: 1300px) {
    padding: 10px 25px;
  }

  @media (max-width: 900px) {
    height: auto;
    padding: 20px;
  }

  @media (max-width: 700px) {
    flex-direction: column;
  }

  @media (max-width: 550px) {
    background: inherit;
  }
}

.flexWrapper {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-right: 15px;
  @media (max-width: 700px) {
    flex-direction: column;
    margin-right: 0;
  }
}
.dateSelect{
  & > div {
    width: auto;
  }
  & > div:first-child {
    margin-right: 16px;
  }
}
.groupSelect {
  max-width: 100px;
}

.input {
  flex: 1 1 50%;

  input {
    min-width: 250px;
    @media(max-width: 1700px) {
      min-width: 170px;
    }
  }

  @media(max-width: 1600px) {
    flex-direction: column;
    div {
      min-width: 100% !important;
      width: 100% !important;
    }
  }
}

.select {
  & > div {
    max-width: 170px !important;
    min-width: 170px !important;
  }

  @media(max-width: 1600px) {
    display: flex;
    flex-direction: column;
    height: 68px;
    & > div {
      min-width: 100% !important;
    }
  }
}
