@import "src/styles/global";

.container {
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 40px;
  background-color: white;
  box-shadow: 0 20px 70px 0 #5659921a;
  border-radius: 30px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: space-between;
  transition: all 1s ease;

  @media (max-width: 600px) {
    padding: 5px 15px;
    height: 65px;
  }
}

.activeShow {
  background: #F2F9FF;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  transition: all 1s ease;
  border-radius: 30px 30px 0 0;

  button {
    transform: rotate(90deg);
  }
}

.bottomBlock {
  background-color: #ffffff;
  padding: 34px 30px 22px;
  border-radius: 0 0 30px 30px;
  margin: -30px 0 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
  }

  > div {
    width: 33%;
    padding: 0 10px;

    @media (max-width: 800px) {
      width: 100%;
      padding: 0;
    }
  }
}

.title {
  font-size: 23px;
  font-weight: 700;
  text-align: left;
  flex-grow: 1;
  margin-left: 110px;

  @media (max-width: 1500px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
    line-height: 20px;
    margin-left: 10px;
  }
}

.button {
  margin-right: 20px;
  flex-shrink: 0;
}

.minutesLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 110px;
  height: 110px;
  font-size: 23px;
  font-weight: 700;
  color: white;
  flex-shrink: 0;

  border: 3px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);

  @media (max-width: 1500px) {
    margin-left: 10px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
    line-height: 18px;
    width: 80px;
    height: 80px;
  }

  & :first-child {
    margin-left: 5px;
    color: $color-secondary-text;
  }

  & :last-child {
    font-weight: 500;
    font-size: 14px;
  }
}

.blue {
  & .minutesLeft {
    background: url(../../../../../../assets/svgs/minutes-left-circle.svg) no-repeat center, $color-blue;
  }

  & .title {
    color: $color-blue;
  }
}

.gradientViolet {
  & .minutesLeft {
    background: url(../../../../../../assets/svgs/minutes-left-circle.svg) no-repeat center, $gradient-violet;
  }

  & .title {
    background: $gradient-violet;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}

.gradientBlueDarker {
  & .minutesLeft {
    background: url(../../../../../../assets/svgs/minutes-left-circle.svg) no-repeat center, $gradient-blue-darker;
  }

  & .title {
    background: $gradient-blue-darker;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.aquamarine {
  & .minutesLeft {
    background: url(../../../../../../assets/svgs/minutes-left-circle.svg) no-repeat center, $color-aquamarine;
  }

  & .title {
    color: $color-aquamarine;
  }
}
