@import "../../styles/variables";

.textField {
  display: flex;
  align-items: center;
  position: relative;

  p {
    font-weight: 600;
    white-space: nowrap;
    margin-right: 24px;
  }

  input {
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 12px 13px 13px;
  }

  .error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
  }


}
